
<div class="container">

  <%= render 'admin/dashboard/layout/navbar' %>>

<div class="m-72"></div>


<%= render 'admin/dashboard/layout/sidebar' %>


<%= render 'admin/dashboard/layout/dashboard' %>>



<%= render 'admin/dashboard/layout/footer' %>>

</div>

